* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font Propo;
  font-size: 20px;
}

#workspaces {
  margin-left: 12px;
}

#workspaces button {
  all: initial;
  padding: 4px 10px;
  margin-right: 5px;
}

#custom-dropbox,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-power-menu {
  min-width: 20px;
  margin-right: 22px;
}

tooltip {
  padding: 5px;
}

tooltip label {
  padding: 5px;
}

@import "../omarchy/current/theme/waybar.css";
